/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  color: white;
  background-color: #232c39;
  background-image: linear-gradient(
    45deg,
    rgba(0, 216, 255, 0.5) 10%,
    rgba(0, 1, 127, 0.7)
  );
}

h2 {
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
}

.result.set::before {
  content: "You have ";
}

.result.inc::before {
  content: "You gained ";
}
.result.dec::before {
  content: "You lost ";
}
.result::after {
  content: ".";
}

.result.inc {
  color: green;
}
.result.dec {
  color: red;
}
.result.set {
  color: yellow;
}
